<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>


<mapper namespace="com.guddi.shop.dao.EtcDao">

	<!-- 신상여부 카테고리 관련  유지홍 2022.01.17 Start -->
	<select id="getNewFlgInfo" resultType="com.guddi.shop.dto.EtcDto">
		select idx, use_flg, regdate, newname from newflg;
	</select>
	
	<select id="getUseFlgInfo" resultType="com.guddi.shop.dto.EtcDto">
		select idx, regdate, useFlg_name from useFlg;
	</select>
		
	<select id="getNewFlgIdx" resultType="int">
		select idx from newFlg
		order by idx desc limit 1;
	</select>
	
	<insert id="doRegistNewFlg">
		insert into newflg (idx, newname, use_flg) values (#{param1},#{param2},1)
	</insert>
	
	<update id="doUpateUseFlg">
		update newflg set use_flg=#{param1} where idx = #{param2}
	</update>

	<select id="getSellFlgInfo" resultType="com.guddi.shop.dto.EtcDto">
		select idx, use_flg, regdate, sellname from sellflg;
	</select>
	
	<select id="getSellFlgIdx" resultType="int">
		select idx from sellflg
		order by idx desc limit 1;
	</select>
	
	<insert id="doRegistSellFlg">
		insert into sellflg (idx, sellname, use_flg) values (#{param1},#{param2},1)
	</insert>
	
	<update id="doUpdateSellUseFlg">
		update sellflg set use_flg=#{param1} where idx = #{param2}
	</update>
	<!-- 신상여부 카테고리 관련  유지홍 2022.01.17 End -->
	
	<!-- 배너이미지 관련  유지홍 2022.01.18 Start -->	
	<select id="getMainImageList" resultType="com.guddi.shop.dto.EtcDto">
		select idx,u_idx, newFileName, oriFileName, use_flg, regdate from mainimage
		order by idx asc
	</select>
	
	<select id="getUserInfo" resultType="com.guddi.shop.dto.MemberDto">
		select idx, userId from member
	</select>
	
	<select id="getMainImageIdx" resultType="int">
		select count(*) from mainimage
	</select>
	
	<insert id="doRegistMainImage" parameterType="com.guddi.shop.dto.EtcDto">
		insert into mainimage (idx, u_idx, newFileName, oriFileName, use_flg) 
		values (#{idx},#{u_idx},#{newFileName},#{oriFileName},1)
	</insert>
	
	<select id="getU_idx" resultType="int">
		select idx from member where userId = #{param1}
	</select>
	
	<delete id="delMainImage">
		delete from mainimage where idx = #{idx}
	</delete>
	
	<update id="doUpdateImageUseFlg">
		update mainImage set use_flg=#{param1} where idx = #{param2}
	</update>
	
	<update id="updateImageOrder">
		update mainimage set idx = #{param1} where newFileName = #{param2}
	</update>
	
	<select id="reviewSearchCount" parameterType="com.guddi.shop.dto.EtcDto" resultType="int">
		select count(*) 
		from review r inner join product p
		on r.b_idx = p.idx
		where 1=1
		<if test='answer_flg!=2'>
	  	and r.answer_flg = #{answer_flg}
	 	</if>	
	 	<if test='keyword != null'>
	  	and p.product_name LIKE concat('%', #{keyword}, '%')
	 	</if>  	
	 	<if test="brand_name != '전체'">
	  	and p.brand_name LIKE concat('%', #{brand_name}, '%')
	 	</if>  	
	 	<if test='type_name != null'>
	  	and p.bag_type LIKE concat('%', #{type_name}, '%')
	 	</if>  	
		
	</select>
	
	<select id="reviewInfo" parameterType="com.guddi.shop.dto.PageDto" resultType="com.guddi.shop.dto.ReviewQnaDto">
		select r.idx, p.brand_name, p.bag_type, p.product_name, r.b_idx, r.u_idx, r.subject, r.content, r.userId,
		r.regdate, r.del_flg, r.answer_flg
		from review r inner join product p
		on r.b_idx = p.idx
		where r.del_flg=0
		<if test='answer_flg!=2'>
	  	and r.answer_flg = #{answer_flg}
	 	</if>	
	 	<if test='keyword != null'>
	  	and p.product_name LIKE concat('%', #{keyword}, '%')
	 	</if>  	
	 	<if test="brand_name != '전체'">
	  	and p.brand_name LIKE concat('%', #{brand_name}, '%')
	 	</if>  	
	 	<if test='bag_name != null'>
	  	and p.bag_type LIKE concat('%', #{bag_name}, '%')
	 	</if>  	
	 	order by idx desc
	 	limit #{displayPost}, #{postNum}
		
	</select>
	
	<select id="getbrandCategoryList" resultType="com.guddi.shop.dto.EtcDto">
	select brand_idx, use_flg, brand_name from brand
	where use_flg =1
	</select>
	
	<select id="getbagCategoryList" resultType="com.guddi.shop.dto.EtcDto">
	select type_idx, use_flg, type_name from bagtype
	where use_flg =1
	</select>
	
	<select id="getanswerList" resultType="com.guddi.shop.dto.EtcDto">
	select idx, use_flg, answername from answertype
	where use_flg =1
	order by idx desc
	</select>
	
	<select id="getReviewDetail" resultType="com.guddi.shop.dto.ReviewQnaDto">
	select idx, subject, content, userId, del_flg, answer_flg
	from review where idx = #{idx}
	and del_flg = 0
	</select>
	
	<select id="getReviewAnswer"  resultType="com.guddi.shop.dto.ReviewQnaDto">
	select idx,  content, managerId, del_flg
	from review_answer where r_idx = #{idx}
	and del_flg = 0
	</select>
	
	<insert id="doReviewAnswer">
		insert into review_answer (r_idx, content, managerId, regdate, del_flg) values 
		(#{r_idx},#{content},#{managerId},#{regdate}, 0)
	</insert>
	
	<update id="doDelReviewAnswer">
		update review_answer set del_flg = 1 where idx = #{a_idx}
	</update>
	
	<update id="doUpdateReviewAnswer" parameterType="com.guddi.shop.dto.ReviewQnaDto">
		update review_answer set content = #{content} where idx = #{idx}
	</update>
	<!-- 배너이미지 관련  유지홍 2022.01.18 End -->


</mapper>