<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.guddi.shop.dao.ProductDao">

	<!-- 2022.01.13 유지홍 제품 리스트 관련 소스 Start -->
	<!-- 게시물 총 갯수 + 검색 적용 -->
	<select id="searchCount" parameterType="com.guddi.shop.dto.PageDto" resultType="int">
 	select count(idx) from tb_product   	
	where 1=1
	<if test='type!=0'>
  	and product_type = #{type}
 	</if>	
 	<if test='searchType.equals("subject")'>
  	and subject LIKE concat('%', #{keyword}, '%')
 	</if> 
 	<if test='searchType.equals("content")'>
 	 and content LIKE concat('%', #{keyword}, '%')
 	</if> 
 	<if test='searchType.equals("subject_content")'>
 	and subject LIKE concat('%', #{keyword}, '%') 
  	or content LIKE concat('%', #{keyword}, '%')
 	</if> 
	</select>
	
	<!-- 목록 + 페이징 + 검색 -->
	<select id="listPageSearch" parameterType="com.guddi.shop.dto.PageDto" resultType="com.guddi.shop.dto.ProductDto">
 	select tp.idx idx, tp.product_type product_type, tp.subject subject
			,tp.price price, tp.salePrice salePrice
			,tpp.newFileName newFileName
	from tb_product tp inner join tb_product_photo tpp
	ON tp.idx = tpp.b_idx	
	where 1=1
	<if test='type!=0'>
  	and product_type = #{type}
 	</if>	
 	<if test='searchType.equals("subject")'>
  	and subject LIKE concat('%', #{keyword}, '%') 
  	</if> 
 	<if test='searchType.equals("content")'>
  	and content LIKE concat('%', #{keyword}, '%')
 	</if> 
 	<if test='searchType.equals("subject_content")'>
  	and subject LIKE concat('%', #{keyword}, '%') 
  	or content LIKE concat('%', #{keyword}, '%')
 	</if>  	
 	order by idx desc
 	limit #{displayPost}, #{postNum}
	</select> 
	<!-- 2022.01.13 유지홍 제품 리스트 관련 소스 end -->
	
	

</mapper>



