<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.guddi.shop.dao.ProductDao">

	<!-- 2022.01.13 유지홍 제품 리스트 관련 소스 Start -->
	<!-- 게시물 총 갯수 + 검색 적용 -->
	<select id="searchCount" parameterType="com.guddi.shop.dto.PageDto" resultType="int">
 	select count(idx) from product   	
	where 1=1
	<if test='brand_type!=0'>
  	and brand_idx = #{brand_type}
 	</if>	
 	<if test='bag_name!=null'>
  	and bag_type LIKE concat('%', #{bag_name}, '%')
 	</if> 
 	<if test='keyword!=null'>
 	 and product_name LIKE concat('%', #{keyword}, '%')
 	</if> 
 	
	</select>
	
	<!-- 목록 + 페이징 + 검색 -->
	<select id="listPageSearch" parameterType="com.guddi.shop.dto.PageDto" resultType="com.guddi.shop.dto.ProductDto">
 	 select tp.idx idx, tp.brand_idx brand_idx, tp.brand_name brand_name, tp.product_name product_name, 
			tp.price price	,tpp.newFileName newFileName, tpp.photo_num photo_num
	from product tp inner join product_photo tpp
	ON tp.idx = tpp.b_idx	
	where photo_num = 1
	<if test='brand_type!=0'>
  	and brand_idx = #{brand_type}
 	</if>	
 	<if test='bag_name!=null'>
  	and bag_type LIKE concat('%', #{bag_name}, '%')
 	</if> 
 	<if test='keyword!=null'>
 	 and product_name LIKE concat('%', #{keyword}, '%')
 	</if> 
 	order by tp.idx desc
 	limit #{displayPost}, #{postNum}
	</select> 
	<!-- 2022.01.13 유지홍 제품 리스트 관련 소스 end -->
	
	

</mapper>



